/*

Maya Lotfy 
UIN: 730001793
*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
header {
    background-color: #004953;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

h1, p {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #004953;
    color: #fff;
}

form {
    margin-bottom: 20px;
    display: none;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
    color: #264348;
}

button {
    margin-bottom: 10px;
    background-color:#005327 ;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: #004040;
}

input,
select {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#studentFields {
    margin-top: 20px;
}

#updateForm input[type="submit"],
#updateForm input[type="button"] {
    margin-top: 20px;
}

#updateForm label {
    margin-top: 10px;
}
#credentialsForm input[type="submit"],
#credentialsForminput[type="button"] {
    margin-top: 20px;
}

#credentialsForm label {
    margin-top: 10px;
}

#profile {
    padding-bottom: 20px; 
}

